<h1>Search Users</h1>
<input #nume>
<input type="button" value="Search" (click)="OnSearch(nume.value)">
<h2>{{user.name | uppercase}} Details</h2>
<div>
  <label>{{user.email}}</label><br>
  <label>{{user.address}}</label><br>
  <label>{{user.phone}}</label><br>
  <label>{{user.website}}</label><br>
</div>
